<div class="container">
  <br>
  <br>
  <br>
  <h1>Edit Student</h1>
  <br>
  <%= render 'form', student: @student %>
  <br>
  <%= link_to 'Show', @student , :class => "btn btn-primary btn-sm" %> |
  <%= link_to 'Back', students_path, :class => "btn btn-primary btn-sm" %>
</div>
