<div class="container">
  <br>
  <br>
  <br>
  <h1>Student Registration Form</h1>
  <br>
  <%= render 'form', student: @student %>
  <br>
  <%= link_to 'Back', students_path, :class => "btn btn-primary btn-sm" %>
</div>
