<p id="notice"><%= notice %></p>

<p>
  <strong>Date and Time:</strong>
  <%= @my_date.dt.strftime('%B %e, %Y %l:%M %p %Z') %>
</p>

<%= link_to 'Edit', flatpickr_edit_path(@my_date) %> |
<%= link_to 'Back', my_dates_path %>
