<div class="container">
  <br>
  <br>
  <br>
  <h1>Edit Senior</h1>
  <br>
  <%= render 'form', senior: @senior %>
  <br>
  <%= link_to 'Show', @senior, :class => "btn btn-primary btn-sm" %> |
  <%= link_to 'Back', seniors_path, :class => "btn btn-primary btn-sm" %>
</div>
