
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">

      <!-- navbar  -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
        <div class="container">
          <a class="navbar-brand order-1 mr-0" href="http://localhost:3000/home/index" target="_blank">The Community Landscaping Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="/home/index#about">About</a>
              <a class="nav-item nav-link" href="/seniors">Senior Citizens</a>
              <a class="nav-item nav-link" href="/students">Students</a>
            </div>
          </div>
        </div>
      </nav> <!-- /navbar -->

  </body>
